.container {
    box-sizing: border-box;
    background-color: #3399CC;
    border-color: #2B81AC; 
    color: #fff;
    width: 1170px;
    height: 592px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cities {
    list-style: none;
    text-align: center;
    padding: 26px 0px 27px 0px;
    font-size: 0px;
    /* background:  */
}
.cities li {
    margin: 0;
    display: inline-block;
    font-size: 1.375rem;
}